* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #fff;
}

.navigation {
  position: fixed;
  box-sizing: initial;
  top: 20px;
  left: 20px;
  bottom: 20px;
  width: 60px;
  border-radius: 10px;
  background-color: #4d5bf9;
  border-left: 10px solid #4d5bf9;
  transition: 0.5s;
  overflow-x: hidden;
}
.navigation.active {
  width: 300px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 40px;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.navigation ul li a {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: #ffffff;
}

.navigation ul li.active a {
  color: #333333;
  font-weight: 600;
}

.navigation ul li a .icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  height: 60px;
}

.navigation ul li a .icon svg {
  width: 32px;
  height: 32px;
}

.navigation ul li a .title {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 10px;
  height: 60px;
  min-width: 230px;
  white-space: normal;
}

.navigation ul li.active {
  background-color: #ffffff;
}

.toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #4d5bf9;
  border-radius: 10px;
  cursor: pointer;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle svg {
  position: absolute;
  width: 34px;
  height: 34px;
}

.toggle.active .close,
.toggle .open {
  display: block;
}

.toggle .close,
.toggle.active .open {
  display: none;
}

.toggle.active {
  background-color: #ff4d89;
}
